{
  "openapi": "3.0.3",
  "info": {
    "title": "Authentication",
    "description": "Authentication API for Sandbox.co.in",
    "version": "1.0.0"
  },
  "servers": [
    { "url": "https://api.sandbox.co.in" },
    { "url": "https://test-api.sandbox.co.in" }
  ],
  "paths": {
    "/authenticate": {
      "post": {
        "summary": "Authenticate",
        "operationId": "authenticate",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "x-api-secret",
            "in": "header",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "x-api-version",
            "in": "header",
            "required": false,
            "schema": { "type": "string", "example": "1.0" }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": { "type": "object" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "number" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "access_token": { "type": "string" }
                      }
                    },
                    "timestamp": { "type": "number" },
                    "transaction_id": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
